<div class="col-md-6">
  <h2 class="text-center">Add Player</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="hidden" formControlName="playerId" placeholder="playerId" name="playerId" class="form-control">

    </div>


    <div class="form-group">
      <label>First Name:</label>
      <input formControlName="firstName" placeholder="firstName" name="firstName"
             class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">Other club details is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Last name:</label>
      <input formControlName="lastName" placeholder="lastName" name="lastName" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">Other details is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Address:</label>
      <input formControlName="address" placeholder="address" name="address" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
      <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
        <div *ngIf="f.address.errors.required">Other details is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Phone number:</label>
      <input formControlName="phoneNumber" placeholder="phoneNumber" name="phoneNumber" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
      <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
        <div *ngIf="f.phoneNumber.errors.required">Other details is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Email address:</label>
      <input formControlName="emailAddress" placeholder="emailAddress" name="emailAddress" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }">
      <div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback">
        <div *ngIf="f.emailAddress.errors.required">Other details is required</div>
      </div>
    </div>
    <input type="hidden" formControlName="chessClubs" placeholder="chessClubs" name="chessClubs" class="form-control">
    <input type="hidden" formControlName="refRankingCodes" placeholder="refRankingCodes" name="refRankingCodes"
           class="form-control">

    <div class="form-group">
      <label>Other Player Details:</label>
      <input formControlName="otherPlayerDetails" placeholder="otherPlayerDetails" name="otherPlayerDetails"
             class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.otherPlayerDetails.errors }">
      <div *ngIf="submitted && f.otherPlayerDetails.errors" class="invalid-feedback">
        <div *ngIf="f.otherPlayerDetails.errors.required">Other details is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Chess clubs:</label>

      <!--<input formControlName="chessClubs" placeholder="chessClubs" name="chessClubs"-->
      <!--class="form-control"-->
      <!--[ngClass]="{ 'is-invalid': submitted && f.chessClubs.errors }">-->
      <!--<div *ngIf="submitted && f.chessClubs.errors" class="invalid-feedback">-->
      <!--<div *ngIf="f.chessClubs.errors.required">Other details is required</div>-->
      <!--</div>-->

      <select formControlName="chessClubs" placeholder="chessClubs" name="chessClubs"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.chessClubs.errors }">
        <option value="" disabled selected>Select club</option>

        <option *ngFor="let club of clubs" [ngValue]="club">{{club.clubId}}- {{club.clubName}}</option>
      </select>
    </div>
    <div class="form-group">
      <!--<label>Add new ranking code here:</label>-->
      <label><a class="nav-link" href="#" routerLink='/add-club'>Add new Club here</a></label>

    </div>

    <div class="form-group">
      <label>Ref Ranking Codes:</label>
      <!--<input formControlName="refRankingCodes" placeholder="refRankingCodes" name="refRankingCodes"-->
      <!--class="form-control"-->
      <!--[ngClass]="{ 'is-invalid': submitted && f.refRankingCodes.errors }">-->
      <!--<div *ngIf="submitted && f.refRankingCodes.errors" class="invalid-feedback">-->
      <!--<div *ngIf="f.refRankingCodes.errors.required">Other details is required</div>-->
      <!--</div>-->

      <select formControlName="refRankingCodes" placeholder="refRankingCodes" name="refRankingCodes"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.refRankingCodes.errors }">
        <option value="" disabled selected>Select ranking code</option>

        <option *ngFor="let refRankingCode of refRankingCodes"
                [ngValue]="refRankingCode">{{refRankingCode.rankingCode}} - {{refRankingCode.rankingDescription}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <!--<label>Add new ranking code here:</label>-->
      <label><a class="nav-link" href="#" routerLink='/add-refrankingcode'>Add new ranking code here</a></label>

    </div>
    <button class="btn btn-success">Create</button>
  </form>
</div>
