<div class="col-md-6">
  <h2 class="text-center">Add New Sponsor</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="hidden" formControlName="rankingCode" placeholder="rankingCode" name="sponsorId"
             class="form-control">

    </div>
    <div class="form-group">
      <label>Sponsor name:</label>
      <input formControlName="sponsorName" placeholder="sponsorName" name="sponsorName"
             class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.sponsorName.errors }">
      <div *ngIf="submitted && f.sponsorName.errors" class="invalid-feedback">
        <div *ngIf="f.sponsorName.errors.required">ranking description is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Club name:</label>
      <input formControlName="sponsorPhone" placeholder="sponsorPhone" name="sponsorPhone"
             class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.sponsorPhone.errors }">
      <div *ngIf="submitted && f.sponsorPhone.errors" class="invalid-feedback">
        <div *ngIf="f.sponsorPhone.errors.required">ranking description is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Other sponsor details:</label>
      <input formControlName="otherSponsorDetails" placeholder="otherSponsorDetails" name="otherSponsorDetails"
             class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.otherSponsorDetails.errors }">
      <div *ngIf="submitted && f.otherSponsorDetails.errors" class="invalid-feedback">
        <div *ngIf="f.otherSponsorDetails.errors.required">ranking description is required</div>
      </div>
    </div>


    <!--<div class="form-group">-->
    <!--<label>Airline Code:</label>-->
    <!--<input formControlName="airlineCode" placeholder="airlineCode" name="airlineCode" class="form-control"-->
    <!--[ngClass]="{ 'is-invalid': submitted && f.airlineCode.errors }">-->
    <!--<div *ngIf="submitted && f.airlineCode.errors" class="invalid-feedback">-->
    <!--<div *ngIf="f.airlineCode.errors.required">Airline Code is required</div>-->
    <!--</div>-->
    <!--<ul class="dropdown-menu">-->
    <!--<li><a href="#">HTML</a></li>-->
    <!--<li><a href="#">CSS</a></li>-->
    <!--<li><a href="#">JavaScript</a></li>-->
    <!--</ul>-->
    <!--</div>-->

    <!--<div class="form-group">-->

    <!--<ul class="dropdown-menu">-->
    <!--<li *ngFor="let airline of airlines"><a href="#">{{airline.id}}</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <button class="btn btn-success">Create</button>
  </form>
</div>
