<div class="col-md-6">
  <h2 class="text-center">Add Club</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="hidden" formControlName="clubId" placeholder="clubId" name="clubId" class="form-control">

    </div>
    <div class="form-group">
      <label>Club name:</label>
      <input formControlName="clubName" placeholder="clubName" name="clubName" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.clubName.errors }">
      <div *ngIf="submitted && f.clubName.errors" class="invalid-feedback">
        <div *ngIf="f.clubName.errors.required">Club Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Club address:</label>
      <input formControlName="clubAddress" placeholder="clubAddress" name="clubAddress" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.clubAddress.errors }">
      <div *ngIf="submitted && f.clubAddress.errors" class="invalid-feedback">
        <div *ngIf="f.clubAddress.errors.required">Club Address is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Other clubDetails:</label>
      <input formControlName="otherClubDetails" placeholder="otherClubDetails" name="otherClubDetails" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.otherClubDetails.errors }">
      <div *ngIf="submitted && f.otherClubDetails.errors" class="invalid-feedback">
        <div *ngIf="f.otherClubDetails.errors.required">Other club details is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Organizer Id:</label>
      <input formControlName="organizerId" placeholder="organizerId" name="organizerId" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.organizerId.errors }">
      <div *ngIf="submitted && f.organizerId.errors" class="invalid-feedback">
        <div *ngIf="f.organizerId.errors.required">Other details is required</div>
      </div>
    </div>

    <!--<div class="form-group">-->
      <!--<label>Airline Code:</label>-->
      <!--<input formControlName="airlineCode" placeholder="airlineCode" name="airlineCode" class="form-control"-->
             <!--[ngClass]="{ 'is-invalid': submitted && f.airlineCode.errors }">-->
      <!--<div *ngIf="submitted && f.airlineCode.errors" class="invalid-feedback">-->
        <!--<div *ngIf="f.airlineCode.errors.required">Airline Code is required</div>-->
      <!--</div>-->
      <!--<ul class="dropdown-menu">-->
        <!--<li><a href="#">HTML</a></li>-->
        <!--<li><a href="#">CSS</a></li>-->
        <!--<li><a href="#">JavaScript</a></li>-->
      <!--</ul>-->
    <!--</div>-->

    <!--<div class="form-group">-->

      <!--<ul class="dropdown-menu">-->
        <!--<li *ngFor="let airline of airlines"><a href="#">{{airline.id}}</a></li>-->
      <!--</ul>-->
    <!--</div>-->
    <button class="btn btn-success">Create</button>
  </form>
</div>
