<!--<div class="container">-->
<!--<div class="col-md-6">-->
<a routerLink="/add-refrankingcode" class="btn btn-success pull-left">
  <span class="glyphicon glyphicon-plus"></span> Add new refRankingCode
</a>
<h1 class="text-center"> RefRankingCode Details</h1>
<div class="overflow-x:auto">
  <table class="table">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Ranking Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let refRankingCode of refRankingCodes; let i = index">
      <td hidden>{{refRankingCode.rankingCode}}</td>
      <td>{{i+1}}</td>
      <td>{{refRankingCode.rankingDescription}}</td>
      <!--<td>{{refRankingCode.airlineCode}}</td>-->
      <td>
        <button class="btn btn-danger" (click)="deleteRefRankingCode(refRankingCode)"> Delete</button>
        <button class="btn btn-danger" (click)="editRefRankingCode(refRankingCode)" style="margin-left: 20px;"> Edit
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!--</div>-->
<!--</div>-->

