<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <div class="container">
    <a class="navbar-brand" href="#"><img
      src="https://cdn.itviec.com/employers/ifi-solution-an-ntt-data-company/logo/social/ifi-solution-an-ntt-data-company-logo.png?RPw1TVXb8rzLdM2XEABrNcMj"
      alt="ifi" style="max-height: 40px"></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/list-club">club</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/list-player'>Player</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/list-tournament'>Tournament</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/list-sponsor'>Sponsor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/list-tournamentorganizer'>Organizer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/list-match'>Match</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/list-refrankingcode'>Ranking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/list-refresultcode'>Result</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
